body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

h1 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  color: #000000
}

h2 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #000000
}

.wrapper {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.main-header {
  font-size: 0;
}

.index-logo {
  position: absolute;
  width: 138px;
  left: 50%;
  margin-left: -69px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  width: 20%;
  outline: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation li:nth-child(1) {
  margin-left: 72px;
}


.main-navigation li:nth-child(3) {
  margin-left: 96px;
  text-align: right;
}

.main-navigation li:nth-child(4) {
  text-align: right;
}

.promo {
  outline: 1px solid black;
  height: 436px;
  padding-top: 76px;
  text-align: center;
  background: url("img/background-photo.jpg");
}

.tagline {
  outline: 1px solid black;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 52px;
  padding-bottom:50px;
}

.tagline h1 {
  outline: 1px solid black;
  margin: 0;
  font-size: 21px;
  width: 490px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  text-align: center;
  line-height: 26px;
}

.tagline p {
  outline: 1px solid black;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 26px;
}

.reason-1 .reason-image {
  float: right;
}

.reason-text {
  outline: 1px solid black;
  float: left;
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
}

.reason-text h3 {
  outline: 1px solid black;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  padding-top: 54px;
  padding-bottom: 23px;
}

.reason-text span {
  outline: 1px solid black;
}

.reason-text p {
  outline: 1px solid black;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 52px;
}

.features-item {
  outline: 1px solid black;
  float: left;
  width: 400px;
  min-height: 140px;
  text-align: center;
  padding-top: 161px;
  padding-bottom: 29px;

}

.features-item h3 {
  outline: 1px solid black;
  margin: 0;
}

.features-item p {
  outline: 1px solid black;
  width: 290px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
}

.reason-2 .reason-image {
  float: left;
  width: 800px;
  height: 256px;
}

.reason-2 .reason-text {
  float: right;
}

..advantages {
  outline: 1px solid black;

}

.advantages-item {
  outline: 1px solid black;
  float: left;
  width: 400px;
  min-height: 150px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 60px;
  background-color: #eeeeee;
}

.advantages-item h3 {
  outline: 1px solid black;
  max-width: 145px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
  font-size: 21px;
}

.advantages-item p {
  outline: 1px solid black;
  margin: 0;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  letter-spacing: 0.5px;
}

.search {
  outline: 1px solid black;
  position: relative;
  padding-top: 56px;
  padding-bottom: 133px;
}

.search-text h2 {
  outline: 1px solid black;
  width: 500px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
}

.search-text p {
  outline: 1px solid black;
  width: 500px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.search-hotel {
  outline: 1px solid black;
  position: absolute;
  width: 568px;
  left: 50%;
  margin-left: -284px;
  bottom: 0;
}

.search-btn {
  width: 100%;
  min-height: 85px;
  background-color: #766357;
  color: white;
}

.modal-content {
  outline: 1px solid black;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  padding: 55px;
}

.search-hotel-form {
  outline: 1px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}

.date {
  outline: 1px solid black;
  margin-bottom: 30px;
  position: relative;
}

.check-date {
  display: block;
}

.label-text {
  outline: 1px solid black;
  float: left;
}

.input-date {
  outline: 1px solid black;
  float: right;
}

.calendar {
  outline: 1px solid black;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  top: 0;
}

.input-date {
  width: 346px;
}

.min-max-people {
  width: 114px;
  float: right;
}

.adults {
  outline: 1px solid black;
  float: left;
  width: 50%
}

.children {
  outline: 1px solid black;
  float: right;
  width: 50%;
}

.children .label-text {
  padding-left: 54px;
}

.find {
  background-color: #81b3d2;
  color: white;
  width: 100%;
  min-height: 58px;
  margin-top: 24px;
}

.main-footer {
  outline: 1px solid black;
}

.index-footer {
  position: absolute;
  bottom: 0;
}

.footer-hashtag {
  outline: 1px solid black;
  float: left;
  width: 400px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 47px;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  outline: 1px solid black;
  float: left;
  width: 400px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 0;
}

.social-btn {
  outline: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: blue;
}

.footer-copyright {
  outline: 1px solid black;
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 400px;
  text-align: center;
  font-size: 0;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright img {
  display: block;
}

.by {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
}


.filters {
  outline: 1px solid red;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 27px;
  padding-bottom: 32px;
}

.filter-block {
  outline: 1px solid black;
  float: left;
  width: 253px;
}

.filter-block h3 {
 margin: 0;
}

.filter-block label {
  display: block;
  padding-top: 24px;
}

.filter-cost-in-day {
  outline: 1px solid black;
  float: right;
  width: 350px;
}

.filter-name {
  margin: 0;
}

.price {
  padding-top: 10px;
}

.range-controls {
  outline: 1px solid black;
}

.sorting {
  outline: 1px solid black;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 26px;
}

.results-amount {
  outline: 1px solid black;
  float: left;
  min-width: 120px;
  max-width: 160px;
  font-size: 21px;
  font-weight: bold;
  margin-top: 3px;
}


.sorting-navigation {
  float: left;
  min-width: 360px;
  max-width: 800px;
  outline: 1px solid black;
}

.sorting-navigation h3 {
  display: inline-block;
  margin: 0;
  margin-left: 49px;
}

.sort-list {
  outline: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sort-list li {
  outline: 1px solid black;
  display: inline-block;
  font-size: 12px;
  padding-left: 33px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.min-max {
  float: right;
  width: 35px;
  outline: 1px solid black;
}

.min {
  outline: 1px solid black;
  width: 11px;
  height: 10px;
  display: inline-block;
}

.max {
  outline: 1px solid black;
  width: 11px;
  height: 10px;
  display: inline-block;
  margin-left: 9px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.results-item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-right: 72px;
}

.results-item img {
  outline: 1px solid black;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-info {
  outline: 1px solid black;
  float: left;
  max-width: 750px;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 0;
}

.hotel-info h2 {
  outline: 1px solid black;
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.hotel-info a {
  outline: 1px solid black;
  text-decoration: none;
}

.housing {
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 14px;
  width: 110px;
  font-size: 14px;
}

.cost {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  padding-top: 7px;
  padding-bottom: 14px;
  width: 142px;
  font-size: 14px;
}

.brown {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 142px;
  margin-left: 6px;
  padding: 3px 0;
  text-decoration: none;
  color: white;
  background-color: #766357;
  font-size: 14px;
}

.blue {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 110px;
  padding: 3px 0;
  background-color: #81b3d2;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.rating {
  outline: 1px solid black;
  float: right;
  width: 110px;
  padding-top: 29px;
}

.rating-star {
  outline: 1px solid black;
  text-align: right;
  line-height: 0;
  font-size: 0;
}

.star {
  outline: 1px solid black;
  display: inline-block;
  margin-left: 7px;
  height: 17px;
  width: 17px;
  background-color: blue;
}

.rating-results {
  margin: 0;
  padding: 0;
  text-align: right;
  padding-top: 47px;
  padding-bottom: 30px;
}

.rating-results p {
  margin: 0;
  padding: 0;
  padding: 3px 11px 3px 15px;
  background-color: #f2f2f2
}
