body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.wrapper {
  -webkit-box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.75);
}

h1 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  color: #000000
}

h2 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #000000
}

.wrapper {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.main-header {
  font-size: 0;
}

.index-logo {
  position: absolute;
  width: 138px;
  left: 50%;
  margin-left: -69px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-navigation li:nth-child(1) {
  margin-left: 72px;
}

.main-navigation li:nth-child(3) {
  margin-left: 96px;
  text-align: right;
}

.main-navigation li:nth-child(4) {
  text-align: right;
}

li.active a {
  color: #766357;
}

li.active a:hover {
  color: #604e43;
}

li.active a:active {
  color: #dbd8d5;
}

.promo {
  height: 436px;
  padding-top: 76px;
  text-align: center;
  background-image: url("../img/index_background_mask.png"), url("../img/background-photo.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: bottom, 50% 30%;
  background-size: 100% auto, cover;
}

.tagline {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 52px;
  padding-bottom:50px;
}

.tagline h1 {
  margin: 0;
  font-size: 21px;
  width: 490px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  text-align: center;
  line-height: 26px;
}

.tagline p {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 26px;
}

.reason {
  position: relative;
  overflow: hidden;
}

.reason-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #309194;
}

.reason-text {
  float: left;
  position: relative;
  z-index: 1;
  width: 400px;
  min-height: 256px;
  text-align: center;
  background-color: #81b3d2;
  color: white;
}

.reason-text h3 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  padding-top: 54px;
  padding-bottom: 23px;
  font-size: 21px;
}

.reason-text p {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 52px;
}

.features-item {
  float: left;
  width: 400px;
  min-height: 140px;
  text-align: center;
  padding-top: 161px;
  padding-bottom: 29px;
  position: relative;
}

.features-item h3 {
  margin: 0;
  font-size: 21px;
}

.number {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 50px;
}

.number::before {
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
}

.number::after {
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -1px;
}

.black::before {
  background-color: #000000;
}

.black::after {
  background-color: #000000;
}

.house::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  right: 50%;
  margin-right: -37px;
  background-position: -512px -65px;
  width: 75px;
  height: 72px;
}


.food::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 61px;
  right: 50%;
  margin-right: -37px;
  background-position: -615px -66px;
  width: 74px;
  height: 70px;
}

.souvenirs::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  background-position: -415px -61px;
  width: 64px;
  height: 76px;
  top: 56px;
  right: 50%;
  margin-right: -32px;
}

.features-item p {
  width: 290px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
}

.reason-2 .reason-image {
  right: auto;
  left: 0;
}

.reason-2 .reason-text {
  float: right;
  position: relative;
  z-index: 1;
}

.advantages-item {
  float: left;
  width: 400px;
  min-height: 150px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 60px;
  background-color: #eeeeee;
}

.advantages-item h3 {
  max-width: 145px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
  font-size: 21px;
}

.advantages-item p {
  margin: 0;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
}

.search {
  position: relative;
  padding-top: 56px;
  padding-bottom: 133px;
}

.search-text h2 {
  width: 500px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
}

.search-text p {
  width: 500px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.search-hotel {
  position: absolute;
  width: 568px;
  left: 50%;
  margin-left: -284px;
  bottom: 0;
}

.search-btn {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.modal-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  padding: 55px;
  -webkit-box-shadow: 0px 13px 33px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 33px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 33px -16px rgba(0,0,0,0.75);
  opacity: 0;
}

.modal-content-show {
  display: block;
  animation: bounce 0.5s;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.000000001s;
}

.modal-error {
  animation: shake 0.6s;
  opacity: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.search-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}

.field-wrapper {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}


.people-text {
  display: block;
  float: left;
  box-sizing: border-box;
  padding-right: 10px;
  width: 112px;
  padding-top: 6px;
  padding-bottom: 6px;;
  font-weight: bold;
}

.children-label {
 text-align: right;
 padding-right: 27px;

}

.date-input-wrapper {
  position: relative;
  float: right;
  width: 346px;
}

.search-item {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  border: 0;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.date-input-wrapper .date-visit {
  text-align: left;
  padding-left: 15px;
  padding-right: 40px;
}

.search-item:hover {
  background-color: #ebebeb;
}

.search-item:focus {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
}

.visitors-field {
  width: 50%;
  float: left;
}

.visitors-input-wrapper {
  position: relative;
  width: 116px;
  float: right;
}

.visitors {
  text-align: center;
  padding-left: 38px;
  padding-right: 38px;
}

.calendar {
  margin: 0;
  position: absolute;
  background-color: transparent;
  width: 21px;
  height: 22px;
  right: 10px;
  top: 8px;
  border: none;
  cursor: pointer;
}

.calendar:active, button:focus {
  outline: none;
}

.calendar::-moz-focus-inner {
  border: 0;
}

.calendar::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -451px -10px;
  left: 0;
  top: 0;
}

.calendar:hover::before {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -12px -64px;
  width: 21px;
  height: 22px;
}

.calendar:active::before {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -63px -64px;
  width: 21px;
  height: 22px;
}

.pluse {
  position: absolute;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  right: 0;
  top: 0;
  border: none;
  background: none;
}

.pluse::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  background-position: -670px -10px;
  left: 13px;
  top: 14px;
}

.pluse:hover::before {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -218px -75px;
  background-repeat: no-repeat;
  background-position: -117px -71px;
  width: 11px;
  height: 11px;
}

.pluse:active::before {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -218px -75px;
  background-repeat: no-repeat;
  background-position: -171px -71px;
  width: 11px;
  height: 11px;
}

.minus {
  position: absolute;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  left: 0;
  top: 0;
  border: none;
  background: none;
}

.minus::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -638px -10px;
  width: 12px;
  height: 3px;
  right: 14px;
  top: 18px;
}

.minus:hover::before {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -218px -75px;
  background-repeat: no-repeat;
  width: 12px;
  height: 3px;
}

.minus:active::before {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -269px -75px;
  width: 12px;
  height: 3px;
}

.find {
  background-color: #81b3d2;
  color: white;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 24px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map {
  height: 593px;
  background-image: url("../img/map.jpg");
  background-color: #3ECD2D;
}

.index-footer {
  background-color: rgba(250, 250, 250, 0.9);
  position: absolute;
  bottom: 0;
}

.footer-hashtag {
  float: left;
  width: 400px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
}

.footer-social {
  float: left;
  width: 400px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #81b3d2;
  font-size: 0;
  position: relative;
}

.social-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color:  #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-tw::before {
  content: "";
  width: 17px;
  height: 15px;
  background-position: -763px -10px;
  transform: translate(-50%, 110%);
}

.social-btn-tw:active::before {
  content: "";
  background-image: url("../img/sprite.png");
  width: 17px;
  height: 15px;
  background-position: -800px -10px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -538px -10px;
  transform: translate(-50%, 70%);
}

.social-btn-fb:active::before {
  content: "";
  background-image: url("../img/sprite.png");
  width: 10px;
  height: 19px;
  background-position: -608px -10px;
}

.social-btn-ytb::before {
  width: 20px;
  height: 16px;
  background-position: -837px -10px;
  transform: translate(-50%, 100%);
}

.social-btn-ytb:active::before {
  content: "";
  background-image: url("../img/sprite.png");
  width: 20px;
  height: 16px;
  background-position: -568px -10px;
}

.footer-copyright {
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 400px;
  text-align: center;
  font-size: 0;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  margin-left: 8px;
  background-position: -52px -10px;
  font-size: 0;
}

.footer-copyright a:hover {
  background-image: url("../img/sprite.png");
  width: 113px;
  height: 39px;
  background-position: -318px -10px;
}

.footer-copyright a:active {
  background-image: url("../img/sprite.png");
  width: 113px;
  height: 39px;
  background-position: -185px -10px;
}

.by {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
}

.filters {
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 27px;
  padding-bottom: 32px;
  background-image: url("../img/hotels_background_photo.jpg");
  background-position: 60% 50%;
  background-size: cover;
  background-color: #309194;
}

.filter-block {
  float: left;
  width: 253px;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-top: 24px;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-position: -10px -10px;
  position: absolute;
  left: 0;
  top: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -492px -10px;
  position: absolute;
  left: 0;
  top: 0;
}

input[type="checkbox"]:disabled + label::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -312px -66px;
  width: 22px;
  height: 22px;
}

input[type="checkbox"]:disabled + label::after {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -362px -66px;
  width: 26px;
  height: 22px;
}

.filter-block h3 {
 margin: 0;
}

.filter-cost-in-day {
  float: right;
  width: 330px;
  color: #ffffff;
}

.filter-name {
  margin: 0;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: bold;
}

.min-price, .max-price {
  height: 22px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.min-price {
  border-right: 1px solid #ffffff;
}

.max-price {
  border-left: 1px solid #ffffff
}

.price {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price label {
  display: inline-block;
  width: 90px;
  padding-left: 65px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  height: 2px;
  width: 80%;
  background: #ffffff;
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 10px;
  background-color: #ababab;
  top: -9px;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background-color: #1c4f80;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 134px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.show:hover {
  background-color: #fff;
  color: #000;
}

.sorting {
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 26px;
}

.results-amount {
  float: left;
  min-width: 120px;
  max-width: 160px;
  font-size: 21px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sorting-navigation {
  float: left;
  max-width: 800px;;
}

.sorting-navigation h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 40px;
  font-size: 12px;
  font-weight: normal;
}

.sort-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sort-list li {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  padding-left: 33px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sort-list a {
  text-decoration: none;
  color: #cacaca;
  font-size: 12px;
  border-bottom: 1px dotted #81b3d2;
}

li.active-sort a {
  color: #81b3d2;
  border: none;
}

li.active-sort a:hover {
  border: none;
}

li.active-sort a:hover {
  color: #81b3d2;
}



.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:active {
  color: #000;
  border: none;
}

.min-max {
  float: right;
  line-height: 0;
  font-size: 0;
  margin-top: 15px;
}

.max {
  width: 11px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #ccc transparent;
}

.max:hover {
  border-color: transparent transparent #000 transparent;
}

.max:active {
  border-color: transparent transparent #81b3d2 transparent;
}

.min {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #ccc transparent transparent transparent;
}

.min:hover {
  border-color: transparent transparent #000 transparent;
}

.min:active {
  border-color: #81b3d2 transparent transparent transparent;
}

.min.active {
  border-color: #81b3d2 transparent transparent transparent;
}

.min.active:hover {
  border-color: #81b3d2 transparent transparent transparent;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.results-item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-right: 72px;
}

.results-item img {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-info {
  float: left;
  max-width: 750px;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 0;
}

.hotel-info h2 {
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.hotel-name {
  text-decoration: none;
  color: #000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.housing {
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 14px;
  width: 110px;
  font-size: 14px;
}

.cost {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  padding-top: 7px;
  padding-bottom: 14px;
  width: 142px;
  font-size: 14px;
}

.brown {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 142px;
  margin-left: 6px;
  padding: 3px 0;
  text-decoration: none;
  color: white;
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
}

.brown:hover {
  background-color: #604e43;
}

.brown:active {
  background-color: #503e33;
  color: #7b6d65;
}

.blue {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 110px;
  padding: 3px 0;
  background-color: #81b3d2;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.blue:hover {
  background-color: #669ec0;
}

.blue:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.rating {
  float: right;
  width: 110px;
  padding-top: 29px;
}

.rating-star {
  text-align: right;
  line-height: 0;
  font-size: 0;
}

.star {
  display: inline-block;
  margin-left: 7px;
  height: 17px;
  width: 17px;
  background-image: url("../img/sprite.png");
  background-position: -701px -10px;
  vertical-align: middle;
}

.rating-results {
  margin: 0;
  padding: 0;
  text-align: right;
  padding-top: 47px;
  padding-bottom: 30px;
}

.rating-results p {
  margin: 0;
  padding: 0;
  padding: 3px 11px 3px 15px;
  background-color: #f2f2f2
}
